/* -------COLOR-------

PRIMARY
Base: #0a9396 (dark cyan)
Tint: #94d2bd (pearl aqua)
Shade: #005f73 (dark teal)

SECONDARY
Base: #ee9b00 (golden orange)
Tint: #e9d8a6 (wheat)
Shade: #ca6702 (burnt caramel)

TERTIARY
Base: #ae2012 (oxidized iron)
Tint: #bb3e03 (rusty spice)
Shade: #9b2226 (brown red)
*/

/*========================================================
-------------------   GLOBAL ---------------------
=========================================================== */

/* --------------------- Variales ------------ */
:root {
  --primary-color: #0e172b;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "poppins", sans-serif;
}

/* prettier-ignore */
h1, h2, h3, h4, h5 {
  font-weight: 700;
  line-height: 1.2;
  color: #0E172B;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}

p {
  color: #44556c;
  line-height: 1.5rem;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
img {
  border-radius: 15px;
}

.heading-description {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1rem;
}

/*========================================================
------------------- SECTIONS ---------------------
=========================================================== */
.section-container {
  padding: 5rem 0rem 5rem 0rem;
  text-align: center;
}
.sec-alt {
  padding: 5rem 0rem 5rem 0rem;
  background-color: #f9fafc;
  text-align: center;
}
.sec-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  padding: 5rem 5rem;
  gap: 1.5rem;
}
.sec-flex img {
  object-fit: cover;
}

.text-left {
  text-align: left;
}
.flex-item {
  width: 50%;
}
@media (max-width: 768px) {
  .sec-flex {
    display: grid;
  }
  .flex-item {
    width: 100%;
  }
}

/* ------------------ NAVBAR --------------- */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 1rem;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 4rem;
}
.nav-container h2 {
  margin-bottom: 0;
}
.nav-items-container {
  display: flex;
  gap: 1rem;
  color: #637286;
}

.nav-item:hover,
.nav-item:active {
  color: #19292d;
}
.navbar-side {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    z-index: 999;
  }
}
/* ------------------- HERO ---------------- */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 5rem 2rem;
}

/* ---Text section---- */
.hero-text-container {
  flex: 1;
  min-width: 50%;
  text-align: left;
}
.hero-heading {
  font-weight: 620;
  font-size: 3rem;
}

.hero ul {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

/* ---Picture section div--- */
.hero div {
  flex: 1;
  min-width: 50%;
  transition:
    transform 1s ease,
    opacity 0.3s ease;
}

.hero img {
  border-radius: 15px;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0.15, 0.15);
}

/* Hero Responsiveness--- */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-text-container {
    width: 100%;
    order: 1;
    transform: translateY(-10px);
  }
  .hero ul {
    margin-bottom: 5rem;
    flex-direction: column;
  }
  .hero div {
    width: 100%;
    order: 2;
    transform: translateY(10px);
  }
  .hero .btn {
    display: block;
    text-align: center;
  }
}

/* -------------------- MAIN --------------------- */

/* Cards that need text left align */

/* ---OUR STORY--- */

/* --- HIGHLIGHT SECTION ---*/

.highlight-section {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  color: white;
  padding: 5rem 1rem;
}
.highlight-section strong {
  color: white;
  font-weight: 600;
  font-size: 3.5rem;
}
.highlight-section small {
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 0.8rem;
  color: #cad5e2;
}
@media (max-width: 676px) {
  .highlight-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 2rem 1rem;
  }
  .highlight-section strong {
    font-size: 2.5rem;
  }
}

/* -------------------- FOOTER ------------------ */

footer {
  min-width: 600px;
}
.footer-header {
  background-color: #0e172b;
  padding: 5rem 10rem;
  text-align: center;
}
.footer-heading {
  color: white;
}
.footer-header .heading-description {
  color: #cad5e2;
}
.footer-container {
  background-color: #0e172b;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 5rem 2rem;
}
.footer-content {
  flex: 1;
}
.footer-text {
  margin-bottom: 2rem;
  color: #cad5e2;
  line-height: 2;
}
.footer-content a:hover {
  color: white;
}
/*========================================================
-------------------   COMPONENTS ---------------------
=========================================================== */

/* ------------------------FORMS---------------------- */

form {
  padding: 5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

label,
input {
  display: block;
}
label {
  margin-bottom: 5px;
}
input {
  width: 90%;
}
.text-area {
  width: 90%;
  padding: 1rem;
  font-size: 1rem;
}

/* ------------------------BUTTONS-------------------- */
.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid #cad5e2;
  transition: all 0.25s ease;
  white-space: nowrap;
}

.btn-primary {
  background-color: #0e172b;
  color: white;
}
.btn-primary:hover {
  padding: 0.8rem 1.6rem;
  border-radius: 40px;
}

.btn-secondary {
  background-color: white;
  color: #0e172b;
}
.btn-secondary:hover {
  color: #0e172b;
  background-color: #e1e4e8;
}

/* -----------------------CARDS------------------- */

.cards-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding: 2rem 4rem;
  margin-top: 2rem;
}

.card {
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 15rem;
}

.card-icon {
  width: 50px;
  border-radius: 10px;
}

.image-card {
  padding: 0;
  max-width: 25rem;
}
.card-image {
  border-radius: 10px 10px 0 0;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.card-content {
  padding: 3rem 1rem;
  text-align: left;
}

.text-card {
  text-align: left;
  padding: 1.5rem;
}

.card-list li {
  position: relative;
  padding-left: 1.5rem;
  margin: 1rem 0 1rem 0;
  text-align: left;
}

.card-list li::before {
  content: " ";
  background-image: url(/images/logos-and-icons/check-mark.svg);
  background-size: 1rem 1rem;
  background-image: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0.125rem;

  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* ---CARDS MEDIA QUERY ---*/

@media (min-width: 660px) and (max-width: 768px) {
  .cards-container.even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .cards-container.odd {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*Smallest screen */
@media (max-width: 640px) {
  .cards-container {
    flex-direction: column;
  }

  .card.text-card {
    padding-bottom: 0;
  }
  .card-content {
    padding: 1rem 1rem;
    text-align: left;
  }
}
